:root {
  --background-color: #242424;
  --header-height: 90px;
  --color: rgb(255, 255, 255, 0.87);
  --color-primary: #37c8abff;
  --max-width: 1300px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color);
  background-color: var(--background-color);
}

body {
  margin: 0;
  height: auto;
}

/* Define any other global/root element styles here */
