:root {
  --background-color: #ffffff;
  --color: black;
  --color-primary: #aa60c8;
  --header-height: 75px;
  --max-width: 1300px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color);
  background-color: turquoise;
}

body {
  margin: 0;
  height: auto;
}

/* Define any other global/root element styles here */
a {
  text-decoration: none;
  color: var(--color);
}

a:hover {
  text-decoration: underline;
}
